# --- Framework Principal ---
django~=4.2.0

# --- Motor de IA (Señas) ---
scikit-learn~=1.3.0
mediapipe~=0.10.0

# --- Motor de IA (Emociones) ---
# 'fer' es la librería, que depende de 'tensorflow'
fer==22.5.1
tensorflow~=2.13.0
opencv-python-headless~=4.8.0

# --- Dependencias Cruciales (especialmente para TensorFlow) ---
# TensorFlow 2.13 requiere una versión específica de Numpy
numpy~=1.23.0

# --- Utilidades de Django y Despliegue ---
django-cors-headers~=4.3.0
gunicorn~=21.2.0
